*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Karla", sans-serif;
}
#hero{
    background: url(https://www.parmalat.it/origin0/app/uploads/2019/09/23114218/gelato-in-casa-b.png) 
    no-repeat center/cover  ;
    height: 80vh;
display: flex;
flex-direction: column;
justify-content: center;
text-align: center;

}
.hero-content{
    background-color: rgb(255,255,255,0.7);
    padding: 50px;
    width: 50%;
    margin: 0 auto;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.hero-content h1{
    font-family: "Pacifico", cursive;
    color: black;

}